Source: wl-mirror
Section: x11
Priority: optional
Maintainer: Ferdinand Bachmann <ferdinand.bachmann@yrlf.at>
Build-Depends: cmake (>= 3.18), scdoc (>= 1.10), dh-cmake, debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/Ferdi265/wl-mirror
Vcs-Browser: https://github.com/Ferdi265/wl-mirror
Vcs-Git: https://github.com/Ferdi265/wl-mirror
Rules-Requires-Root: no

Package: wl-mirror
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: output-mirroring tool for wlroots-based Wayland desktops
 wl-mirror is a tool to add output mirroring to sway and other wlroots-based
 Wayland compositors. wl-mirror requires the export-dmabuf or screencopy
 protocols to work.
